body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.SneakerCollection{
  list-style: none;
  width: 100%;
}
.Sneaker {
  width: 400px;
  height: 300px;
  overflow: hidden;
  display: inline-grid;
  outline: 1px solid black;
  text-align: center;
}

.details p{
  display: inline;
}

.header{
  text-align: center;
  width: 150px;
  height: 100%;
}

#year{
  float: left;
  padding-left: 10px;
}
#brand{
  float: right;
  padding-right: 10px;
}

img{
  text-align: center;
  height: 200px;
  width: auto;
}
#details-img{
  text-align: center;
  height: 400px;
  width: auto;
  margin-bottom: -50px;
}
